:root {
  --text-large-fontSize: 26px;
  --text-large-lineHeight: 32px;
  --text-large-normal: 400;
  --text-large-emphasized: 700;
  --text-h1-fontSize: 22px;
  --text-h1-lineHeight: 26px;
  --text-h1-normal: 400;
  --text-h1-emphasized: 700;
  --text-h2-fontSize: 17px;
  --text-h2-lineHeight: 22px;
  --text-h2-normal: 400;
  --text-h2-emphasized: 700;
  --text-h3-fontSize: 15px;
  --text-h3-lineHeight: 20px;
  --text-h3-normal: 400;
  --text-h3-emphasized: 700;
  --text-headline-fontSize: 13px;
  --text-headline-lineHeight: 16px;
  --text-headline-normal: 700;
  --text-headline-emphasized: 800;
  --text-body-fontSize: 13px;
  --text-body-lineHeight: 16px;
  --text-body-normal: 400;
  --text-body-emphasized: 600;
  --text-callout-fontSize: 12px;
  --text-callout-lineHeight: 15px;
  --text-callout-normal: 400;
  --text-callout-emphasized: 600;
  --text-subheadline-fontSize: 11px;
  --text-subheadline-lineHeight: 14px;
  --text-subheadline-normal: 400;
  --text-subheadline-emphasized: 600;
  --text-fontnote-fontSize: 10px;
  --text-fontnote-lineHeight: 13px;
  --text-fontnote-normal: 400;
  --text-fontnote-emphasized: 600;
  --text-caption1-fontSize: 10px;
  --text-caption1-lineHeight: 13px;
  --text-caption1-normal: 400;
  --text-caption1-emphasized: 500;
  --text-caption2-fontSize: 10px;
  --text-caption2-lineHeight: 13px;
  --text-caption2-normal: 500;
  --text-caption2-emphasized: 600;
}
